body{
  position: relative;
  width: 100%;
  min-width: 850px;
  height: 95vh;
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  background-image: url("Page/png/New-Retr.png");
}

a{
  text-decoration-line: none;
  color: black;
}

.content{
  width: 95%;
  max-width: 1600px;
  min-width: 850px;
  height: 100%;
  max-height: 900px;
  min-height: 800px;
  margin: 30px auto 0 auto;
  border: 1px solid black;
  box-shadow: 3px 3px 3px 3px #555555;
  background-color: rgba(255, 255, 255, 0.842);
  
}
.content nav{
  position: static;
  display: flex;
  width: 500px;
  height: 60px;
  margin: 10px auto;
  justify-content: space-between;
}
.content nav a{
  position: static;
  border: 1px solid black;
  padding: 17px 10px;
  box-shadow: 2px 2px 2px 2px #b9b9b9;
  text-align: center;
}
