h1{
  width: 350px;
  height: 225px;
  font-size: 200px;
  text-align: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}
h2{
  width: 600px;
  height: 125px;
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}